body{
  background-image: url("img/bg-css.jpg");
  background-repeat: no-repeat, repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.pill-nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}
